body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link {
    text-decoration: none;
    font-size: 16pt;
}
.link:hover {
    text-decoration: underline;
}
/* navbar */
nav {
    background-color: rgb(59, 62, 211);
    height: 50px;
    width: 100%;
    justify-content: center;
    display: fixed;
    margin-bottom: 15px;
    padding: 7px 0 7px 0 auto;
    top: 0;
}
ul {
    list-style-type: none;
    padding: 5px;
    word-spacing: 7px;
    /* text-align: end; */
}
li {
    display: inline;
}
.nav-link {
    text-decoration: none;
    font-size: 16pt;
    color: #fff;
}
.nav-link:hover {
    background-color: #fff;
    color: rgb(59, 62, 211);
}

/* message */
.message {
    width: 100%;
    background-color: #adfabd;
    text-align: center;
    font-size: 14pt;
    padding-top: 2px;
    padding-bottom: 2px;
    /* margin-top: 7%; */
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
}
td, th {
    border: 1px solid #d8d5d5;
    padding: 8px;
}
tr:nth-child() {
    background-color: #8c8282;
}

/* form */
form {
    padding: 20px;
}
input[type="text"], input[type="file"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d8d5d5;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit {
    width: 100%;
    background-color: rgb(59, 62, 211);
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16pt;
}

/* footer */
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(59, 62, 211);
    color: #fff;
    padding-left: 25px;
}